

.topico{
float: right;
margin: 0 0 10px 10px:
}

.principal{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	float: center;
}

h3 {
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	float: left;
}

